    @media screen and (min-width: 768px) {
    
    }
    @media screen and(max-width: 767px) {
    }
    @media only screen and (max-width: 900px) {
       header nav .menu {
           box-orient: vertical;
	   box-direction: normal;
	   flex-direction: column;
	   position: absolute;
	   top: 100px;
	   width: 100%;
	   transition: background .5s, left .5s ease;
	   left: -100px;
	   z-index: 1;
       }
    }
    @media (min-width: 901px) {
       header nav {
	   display: grid;
	   grid-template-columns: 4fr 8fr;
	   grid-template-rows: auto;
	   width: 100%;
       }
    }
