@import url('https://fonts.googleapis.com/css?family=Lato');
*, *::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}	
:root {
    --color-primary: #495755;
}
body {
    font-family: Lato;
}
a {
   text-decoration: none;
   display: block;
   outline: 0;
}
/*HEADER LOGO
---------------*/
header nav .logo {
    align-self: center;
    justify-self: center;
    padding: 20px;
}
header nav {
    position: absolute;
    background: rbga(255, 255, 255, 0.75);
    z-index: 1;
    top: 0;
    left: 0;
}
header nav .menu {
    display: flex;
    list-style: none;
    justify-self: center;
    align-items: center;
}
header nav .menu > li > a {
    color: var(--color-primary);
    padding: 15px 1vw;
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    transition: all .4s;
}
header nav .menu > li:hover > ::after {
   font-family: 'FontAwesome';
   content: '\f106';
   display: block;
   position: relative;
   text-align: center;
   margin-bottom: -20px;
   color: var(--color-primary);
   bottom: 5px;
   animation: bullet .5s infinite alternate;
}
@keyframes bullet {
  from { bottom: -.1em;}
  to { font-size: 1em;}
}
header nav ul li {
    display: inline-block;

}
